@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

//.cecutient-version
body
	filter: saturate(0)

img
	filter: grayscale(1) contrast(2)

[class*="depict-"]
	filter: grayscale(1) contrast(0)