@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user options
$uo-size: 50px
$uo-space: 30px
$uo-icon-size: 20px
$uo-text-color: white

.user-options
	position: relative

.user-options__list
	position: relative
	list-style: none
	padding: 0
	+clear-spacing
	line-height: 1
	+margin-horizontal(-#{round($uo-space/2)})

.user-options__item
	position: relative
	+display-inline-block-middle
	//+padding-horizontal(round($uo-space/2))
	//padding: round($uo-space/2)
	+font($font-size, 1)
	letter-spacing: normal
	padding: 0 round($uo-space/2)

	& > a
		position: relative
		display: block
		color: $uo-text-color
		line-height: 1
		// для svg
		fill: $uo-text-color
		text-decoration: none
		text-align: center

		svg
			+size($uo-icon-size)

			&.svg-close
				opacity: 0
				visibility: hidden
				z-index: auto

			&.svg-magnifier
				z-index: 1

			&.svg-glasses
				+size(37px, 20px)

			& ~ span
				padding-left: 10px

			& ~ span.hide-text
				padding-left: 0

		path
			fill: inherit

		& > span
			+display-inline-block-middle

		// hover
		//&:hover
			color: $link-color
			fill: $link-color

		&.active
			.for-close
				opacity: 1
				visibility: visible
				z-index: 1

			.for-open
				opacity: 0
				visibility: hidden
				z-index: auto

.user-options__item--search
	& > a
		position: relative
		+size($uo-icon-size)

		svg
			position: absolute
			+size($uo-icon-size)
			+position(0)

.user-options__item--msg
	+font-alt
	+font(12px, 14px)
	letter-spacing: 0.1em
	text-transform: uppercase
	text-align: center
	color: $uo-text-color

	& > a
		color: $text-color
		fill: $text-color
		background-color: white
		padding: 13px 20px

/* user options