@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* HEADER
.header
	position: relative
	z-index: 5
	background: url(../../img/bg-header.jpg) no-repeat
	background-size: cover

	.panel-is-open &
		z-index: auto

.header__top
	position: relative
	height: $header-top-height
	border-bottom: 1px solid rgba(#fff, 0.25)
	z-index: 10

	.panel-is-open &
		z-index: auto

.header__common
	+padding-vertical(40px)
	display: flex
	justify-content: space-between
	align-items: center

	.home-page &
		flex-wrap: wrap

.logo-box
	display: flex
	justify-content: flex-start
	align-items: center

.logo-wrap
	width: $sidebar-width
	padding-right: 20px

.logo
	$logo-size: 270px, 75px // width, height
	// ==========
	display: block
	position: relative
	width: nth($logo-size, 1)
	max-width: 100%
	height: nth($logo-size, 2)
	text-indent: -9999px
	overflow: hidden
	background: url(../../img/logo.png) no-repeat
	background-size: contain
	z-index: 5

	a
		display: block
		height: 100%

.slogan
	+font-alt
	+font(24px, 29px)
	color: white
	margin-right: 20px
	max-width: 480px

	&.slogan--home-page
		display: none

	.home-page &
		display: none
		+font-alt-bold
		+font(52px, 58px)
		margin-right: 0
		max-width: 1140px

		&.slogan--home-page
			display: block
			width: 100%
			margin-top: 30px

	a
		text-decoration: none
		color: inherit

// panel
.header__panel
	background-color: $base-color
	position: fixed
	height: $header-height
	+position(0)
	width: 100%
	z-index: 50
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.18)
	transform: translate(0, -100%)
	transform: translate3d(0, -100%, 0)
	opacity: 0
	will-change: transform, opacity
	transition:
		property: transform, opacity
		duration: $animation-speed

	.panel-is-open &
		transform: translate(0, 0)
		transform: translate3d(0, 0, 0)
		opacity: 1

.header__panel__frame
	+padding-vertical(5px)
	height: 100%
	display: flex
	justify-content: space-between
	align-items: center

	.home-page &
		flex-wrap: wrap

.header__panel
	.logo-wrap
		width: auto
		min-width: 0
		padding-right: 40px

	.logo
		$logo-size: 60px, 60px
		// ==========
		width: nth($logo-size, 1)
		height: nth($logo-size, 2)
		background-size: auto 100%

	.slogan
		display: none !important

// panel end

/* HEADER end