@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* HEADER
.header
	position: relative
	z-index: 5
	background: url(../../img/bg-header.jpg) no-repeat
	background-size: cover

	.panel-is-open &
		z-index: auto

.header__top
	position: relative
	height: $header-top-height
	border-bottom: 1px solid rgba(#fff, 0.25)
	z-index: 10

	+media('<desk-sm')
		height: $header-top-height--md

	+media('<tab-lg')
		//height: 0
		z-index: auto
		border: none

	+media('<mob-lg')
		height: $header-top-height--sm

	.panel-is-open &
		z-index: auto

.header__common
	+padding-vertical($page-layout-space)
	display: flex
	justify-content: space-between
	align-items: center

	+media('<desk-sm')
		+padding-vertical($page-layout-space--lg)

	+media('<mob-lg')
		+padding-vertical($page-layout-space--md)

	.home-page &
		flex-wrap: wrap

	& .user-options
		min-width: 400px
		text-align: right

		.user-options__item
			text-align: left

.logo-box
	display: flex
	justify-content: flex-start
	align-items: center

	+media('<tab-lg')
		.header__common &
			display: none

.logo-wrap
	padding-right: 20px

.logo
	$logo-size: 270px, 75px // width, height
	$logo-size--lg: 210px // width
	// ==========
	display: block
	position: relative
	width: nth($logo-size, 1)
	max-width: 100%
	text-indent: -9999px
	overflow: hidden
	background-image: url(../../img/logo.png)
	background-repeat: no-repeat
	background-size: contain
	z-index: 5

	+media('<desk-sm')
		width: nth($logo-size--lg, 1)

	&::before
		content: ""
		display: block
		+ratio(nth($logo-size, 1), nth($logo-size, 2))

	a, & > span
		display: block
		position: absolute
		left: 0
		top: 0
		+size(100%)

.slogan
	+font-alt
	+font(24px, 29px)
	color: white
	margin-right: 20px
	max-width: 480px

	+media('<desk-sm')
		font-size: 18px
		line-height: 22px

	&.slogan--home-page
		display: none

		+font-alt-bold
		+font(52px, round-float(58/52, 2))
		max-width: 100%
		padding-right: 15%
		width: 100%
		margin-top: 30px
		margin-right: 0

		+media('<desk-sm')
			font-size: 38px
			margin-top: 20px

		+media('<tab-lg')
			display: block
			padding-right: 0
			margin-top: 0
			font-size: 22px

		+media('<mob-lg')
			font-size: 18px

	.home-page &
		display: none

		&.slogan--home-page
			display: block

	a
		text-decoration: none
		color: inherit

// panel
.header__panel
	background-color: $base-color
	position: fixed
	height: $header-height
	+position(0)
	width: 100%
	min-width: 320px
	z-index: 50
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.18)
	transform: translate(0, -100%)
	transform: translate3d(0, -100%, 0)
	opacity: 0
	will-change: transform, opacity
	transition:
		property: transform, opacity
		duration: $animation-speed

	.panel-is-open &
		transform: translate(0, 0)
		transform: translate3d(0, 0, 0)
		opacity: 1

	+media('<tab-lg')
		height: $header-top-height--md
		transform: translate(0, 0)
		transform: translate3d(0, 0, 0)
		opacity: 1

	+media('<mob-lg')
		height: $header-top-height--sm

.header__panel__frame
	+padding-vertical(5px)
	height: 100%
	display: flex
	justify-content: space-between
	align-items: center

	.home-page &
		flex-wrap: wrap

.header__panel
	.logo-wrap
		width: auto
		min-width: 0
		padding-right: 40px

		+media('<desk-sm')
			padding-right: $page-layout-space--lg

		+media('<tab-sm')
			padding-right: 20px

		+media('<mob-lg')
			padding-right: 0

	.logo
		$logo-size: 60px, 60px
		// ==========
		width: nth($logo-size, 1)
		height: nth($logo-size, 2)
		background-size: auto 100%

		&::before
			content: none

		+media('<mob-lg')
			$logo-size--sm: 40px, 40px
			// ==========
			width: nth($logo-size--sm, 1)
			height: nth($logo-size--sm, 2)

	.slogan
		display: none !important

// panel end

/* HEADER end

/* NAVIGATION
.nav-wrap
	height: 100%

	// panel-is-open
	+media('>=tab-lg')
		html:not(.panel-is-open) &
			transform: translate(0, 0) matrix(1, 0, 0, 1, 0, 0) !important

	.panel-is-open &
		position: fixed
		left: 0
		top: 0
		+size(100%, 100vh)
		background-color: rgba($bg-color-alt, 1)
		z-index: 1000
		overflow-x: visible
		overflow-y: auto
		opacity: 0
		visibility: hidden

	+media('<tab-lg')
		position: fixed
		left: 0
		top: 0
		+size(100%, 100vh)
		background-color: rgba($bg-color-alt, 1)
		z-index: 1000
		overflow-x: visible
		overflow-y: auto
		opacity: 0
		visibility: hidden

.nav
	position: relative
	height: 100%

	// panel-is-open
	.panel-is-open &
		height: auto
		max-width: 640 + $page-layout-space*2
		+padding-horizontal($page-layout-space)
		+push-auto
		text-align: center

		+media('<desk-sm')
			max-width: 700px
			//+padding-horizontal($page-layout-space--lg)
			padding-left: $page-layout-space--lg

		+media('<mob-lg')
			//+padding-horizontal($page-layout-space--md)
			padding-left: $page-layout-space--md

		&::before
			content: ""
			+display-inline-block-middle
			height: 100vh

// общие стили для пунктов навигации
.nav__list
	height: 100%
	display: flex
	justify-content: space-between
	//align-items: center

	// panel-is-open
	.panel-is-open &
		+display-inline-block-middle
		height: auto
		width: calc(100% - 5px)
		+padding-vertical($page-layout-space)
		text-align: left

	li
		position: relative
		+font-alt
		+font(16px, 20px)
		letter-spacing: 0.05em

		// panel-is-open
		.panel-is-open &
			+font(16px, 24px)
			border: solid #ccc
			border-width: 1px 0 0

			+media('<desk-sm')
				font-size: 14px

	.nav__tab
		.panel-is-open &
			position: relative

	a
		display: block
		color: $text-color
		text-decoration: none

		// panel-is-open
		.panel-is-open &
			display: block

			// hover
			&:hover
				color: $link-color

// общие стили для подменю навигации
.nav__drop
	position: absolute
	left: 100%
	top: 0
	background-color: white
	border: 1px solid $border-color
	padding: 0 20px
	opacity: 0
	visibility: hidden
	z-index: 10

	.panel-is-close &
		display: block !important
		width: 320px

	.panel-is-open &
		border: none
		padding: 0
		background-color: transparent

	.nav-align--right > &
		left: auto
		right: 100%

	// no js
	.no-js &
		position: relative
		left: auto
		right: auto
		top: auto
		bottom: auto
		opacity: 1
		visibility: visible

	.panel-is-open &
		display: none
		position: relative
		left: auto
		right: auto
		top: auto
		bottom: auto
		opacity: 1
		visibility: visible

	li:hover > &
		opacity: 1
		visibility: visible

	.nav__tab
		border: solid $border-color-light
		border-width: 1px 0 0

		.panel-is-open &
			border: none

	& > ul > li:first-child > .nav__tab
		border-top: none

	a
		display: block
		position: relative
		padding: 15px 20px
		+margin-horizontal(-20px)

		.panel-is-open &
			+padding-horizontal(0)
			+margin-horizontal(0)

// стили для пунктов навигации, у которых ЕСТЬ ПОДМЕНЮ
.nav__list li.has-drop > .nav__tab > a

	// panel-is-open
	.panel-is-open &
		padding-right: nth($nav-angle-size, 1)

		span
			padding: 0

// стили для пункта навигации ТЕКУЩЕЙ страницы
.nav__list li.current > .nav__tab
	&
		a, a:hover
			color: $base-color

// особые стили для пунктов навигации ПЕРВОГО урованя
.nav__list
	& > li
		height: 100%

		// panel-is-open
		.panel-is-open &
			margin-bottom: -1px
			font-size: 18px

			&:last-child
				border-width: 1px 0

		// <1200px
		+media('<desk-lg')
			flex: 1 1 0

		& > .nav__tab
			height: 100%

			a
				display: table
				table-layout: fixed
				height: 100%
				color: white
				text-decoration: none

				// panel-is-open
				.panel-is-open &
					display: block
					padding: 14px 0 16px
					color: $text-color

					// hover
					&:hover
						color: $link-color

				span
					display: table-cell
					vertical-align: middle
					padding: 0 round($nav-gap/2)
					transition:
						property: opacity
						duration: $animation-speed

		&:first-child
			& > .nav__tab
				a
					span
						padding-left: 0

		// panel-is-open
		//.panel-is-open &
			padding-left: 20px

		&:last-child
			flex-grow: 0
			flex-basis: auto

			& > .nav__tab
				a
					padding-right: 0

		& > .nav__drop
			left: round($nav-gap/2)
			top: 100%

			// panel-is-open
			.panel-is-open &
				left: auto
				top: auto

			&::before
				+pseudo()
				left: 12px
				bottom: 100%
				+triangle(top, white, 14px, 1)
				margin-bottom: -1px

				// panel-is-open
				.panel-is-open &
					content: none

		&:first-child
			& > .nav__drop
				left: 0

		&.nav-align--right
			& > .nav__drop
				left: auto
				right: round($nav-gap/2)

				&::before
					left: auto
					right: 12px

			&:last-child > .nav__drop
				right: 0

	// hover
	.panel-is-close &:hover
		& > li
			& > .nav__tab
				a
					span
						opacity: 0.5

	.panel-is-close & > li:hover
		& > .nav__tab
			a
				span
					opacity: 1

// СТРЕЛКИ навигации
.nav__angle
	display: none

	position: absolute
	right: -13px
	top: 0
	width: nth($nav-angle-size, 1)
	height: 100%
	//background-color: rgba(black, 0.2)
	//border: 1px solid rgba(black, 0.2)
	z-index: 2
	cursor: pointer

	li.has-drop > .region-menu__tab > &
		display: block

	i
		position: absolute
		left: 50%
		top: 50%
		width: 16px
		height: 10px
		pointer-events: none
		margin: -5px 0 0 -8px
		transition-property: transform
		transition-duration: $animation-speed
		font-size: 0
		line-height: 0
		//background-color: coral

		&::before, &::after
			content: ''
			position: absolute
			bottom: 0
			height: 12px
			width: 2px
			border-radius: 2px
			backface-visibility: hidden
			background-color: $text-color
			transform-origin: center center
			transition-property: background-color
			transition-duration: $animation-speed

		&::before
			right: 50%
			transform-origin: right bottom
			transform: rotate(45deg)

		&::after
			left: 50%
			transform-origin: left bottom
			transform: rotate(-45deg)

	// hover
	&:hover
		i
			&::before, &::after
				background-color: $link-color

	// active
	.is-open > .nav__tab &
		transform: rotate(-0.5turn)

	// panel-is-open
	.panel-is-open .has-drop > .nav__tab &
		display: block

.nav__drop
	li
		.panel-is-open &
			margin-left: 20px

	// hover
	li:hover > .nav__tab a
		color: $base-color

		.panel-is-open &
			color: $text-color

			&:hover
				color: $link-color

	a
		.panel-is-open &

			// hover
			&:hover
				color: $text-color

	.nav__drop
		top: 0
		left: 100%

		.panel-is-open &
			left: auto
			top: auto

		a
			.panel-is-open &
				+font-normal
				//padding-left: 20px
				font-size: 14px


	.nav-align--right .nav__drop
		left: auto
		right: 100%


/* NAVIGATION end

/* If header are fixed / mobile view
/* If header are fixed / mobile view end